<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teste.estudo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Estudo">
        <activity
            android:name=".menuAdm.AdminEditCar"
            android:exported="false" />
        <activity
            android:name=".menuAdm.AdminViewSchedule"
            android:exported="false" />
        <activity
            android:name=".menuAdm.AdmViewVehicle"
            android:exported="false" />
        <activity
            android:name=".menuAdm.AdminViewUser"
            android:exported="false" />
        <activity
            android:name=".menuAdm.AdminCreateCar"
            android:exported="false" />
        <activity
            android:name=".menuAdm.AdminCreateAcc"
            android:exported="false" />
        <activity
            android:name=".menuAdm.AdminMenu"
            android:exported="false" />
        <activity
            android:name=".menuClient.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".menuClient.StampsActivity"
            android:exported="false" />
        <activity
            android:name=".menuClient.EditActivity"
            android:exported="false" />
        <activity
            android:name=".menuClient.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".menuClient.ViewCar"
            android:exported="false" />
        <activity
            android:name=".menuClient.CreateAccount"
            android:exported="false" />
        <activity
            android:name=".menuClient.MainMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>